
<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
    <div class="container-fluid">    
       
    <ul class = "nav navbar-nav">
        
        
        
        <button onclick="history.back()"class="btn btn-primary navbar-btn">Go Back</button>      
        
    </ul>
    <button (click)="logOut()"class="btn btn-danger navbar-btn">Log out</button>
    </div>
</nav>
<div class="container">
   <p>Sri Manakula Vinayagar Engineering College</p>
    <p>Madagadipet</p>
    <p>Mannadipet Commune</p>
    <p>Puducherry – 605 107</p>
    <p>(0413)- 2641151/2640823 / 2642000</p>
    <p>Fax: (0413) – 2641136</p>
    <p>E-mail: smvec@smvec.ac.in</p>
</div>

