<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
           
    <div class="container-fluid">
        <button (click)="back()"class="btn btn-primary navbar-btn"style="width:80;height: 35;">Go Back</button>   

    
    <button (click)="logOut()"class="btn btn-danger navbar-btn">Log out</button>
    </div>
</nav>

<h2 style="text-align:center">Course List</h2>
<div class="card">
    <div class="card-body">
<table class = "table table-striped">
    <thead >
        <tr>
            <th> CourseId</th>
            <th>  Course name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let course of course" >
            <td>{{course.courseId}}</td>
            <td>{{course.courseName}}</td>
            <td> <button type="button" class="btn btn-primary"(click)="deleteCourse(course.courseId)">Delete</button></td> 

          <td> <button type="button" class="btn btn-primary"(click)="addStaff(course.courseId)">Add Staff</button></td> 
          <td> <button type="button" class="btn btn-warning"(click)="viewStaff(course.courseId)">View Staff</button></td>
         </tr>
    </tbody>
</table>
    </div></div>