<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
    <div class="container-fluid">    
       
    <ul class = "nav navbar-nav">
        
        
        
        <button onclick="history.back()"class="btn btn-primary navbar-btn">Go Back</button>      
        
    </ul>

    </div>
</nav>
<div class="about-section">
    <h1>About Us </h1>
    <p>Sri Manakula Vinayaga Educational Trust was formed with the avowed vision of enlightening the society by offering quality and affordable education to the weaker sections of the society. To cherish this objective and to join hands with the policy of the Government of Puducherry in enhancing technical education and also to meet the needs of our Nation, the Trust established Sri ManakulaVinayagar Engineering College (SMVEC), an institute of eminence in the year 1999 with a code of generating graduates with calibers.
        By means of the flexibility in autonomy, administrative bodies were formulated as per the directives of UGC guidelines for the new courses and implementing outcome based curriculum and well-structured syllabi with a view on life, career, and industry with innovative teaching practices and transparent evaluation process. With supreme delight, the institute received suggestions from alumni and other stakeholders in structuring the autonomous curriculum.
    </p>

 
    <p>Along its way, all the B.Tech UG and PG programs including M.Tech, MCA & MBA are approved by AICTE New Delhi & UGC, and affiliated to Pondicherry University, a Central University. At the apex of its standardization, the institute has been accredited by National Assessment and Accreditation Council (NAAC) in 2 cycles with “A” grade. At the summit of its ideals, all the eligible B.Tech programs offered are highly top notch which is accredited by National Board of Accreditation (NBA), New Delhi in 2 cycles.  Besides, adding additional feather to the crown of SMVEC, the institute is also accredited by a global multinational company TCS.

 

        In furtherance of rendering its service to the community people, SMVEC is the first institution in Puducherry State, established the ‘Nila Community Radio Station’ with the approval of Government of India. In the long run of its helm, the institute accomplishes enviable reputation by possessing all the hall marks of premier institution in the pursuit of supremacy.
        
         
        
        With the attainment of autonomous status from UGC on 26.09.2019 for 10 years till2029, the institute extends its shoulders to emerge new programs in Engineering, School of Arts and Science, School of Allied Health Sciences along with the ongoing courses of study in Engineering and Architecture. In the voyage of 23 years of academic excellence, it offers 14 B.TechPrograms including CSBS, a program supported by TCS, 8 postgraduate programs including MBA and MCA and 11 Research programs (PhD) and 14 programs in School of Arts & Science, 14 programs in School of Allied Health Sciences and 4 Diploma programs &a Certification course in Medical Sciences.
         </p>
  </div>
  
  
    

