<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
  <div class="container-fluid">    
     
  <ul class = "nav navbar-nav">
      
      
      
      <button (click)="back()"class="btn btn-primary navbar-btn">Go Back</button>      
      
  </ul>

  </div>
</nav>

<div class="row d-flex justify-content-center" style="background-image: url('../assets/register2.jpg');height: 650px;">
    <div class="col-lg-4">
      <h2 style="text-align: center;"class="fw-bold mb-5"><b style="color:rgb(245, 77, 5)">Course Details Register</b></h2>
      <form #registerform="ngForm" (ngSubmit)="courseRegister()">
        
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <input type="number" name="courseId "class="form-control" placeholder="CourseId"[(ngModel)]="course.courseId" >
            
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <input type="text" name="courseName" class="form-control" placeholder="CourseName" [(ngModel)]="course.courseName" required pattern="[A-Za-z]{1,32}"#coursename="ngModel"
              [class.is-invalid]="coursename.invalid&&coursename.touched"/>
              
              <div *ngIf="coursename.errors && (coursename.invalid && coursename.touched)">
                <small class="text-danger" *ngIf="coursename.errors?.['required']">required field</small>
                <small class="text-danger"*ngIf="coursename.errors?.['pattern']">enter a valid course name</small>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <input type="text" name="courseType" class="form-control" placeholder="CourseType"[(ngModel)]="course.courseType" pattern="[A-Za-z]{1,32}"#coursetype="ngModel"
              [class.is-invalid]="coursetype.invalid"/>
              <div *ngIf="coursetype.errors ">
                <small class="text-danger" *ngIf="coursetype.errors?.['required']">required field</small>
                <small class="text-danger"*ngIf="coursetype.errors?.['pattern']">enter a valid coursetype</small>
              </div>
             
            </div>
          </div>
            

       
        <div class="form-outline mb-4">
          <div class="form-outline">
          <input type="date" name="startDate" class="form-control" placeholder="StartDate "[(ngModel)]="course.startDate" 
          #startdate="ngModel"
          [class.is-invalid]="startdate.invalid"/>
              <div *ngIf="startdate.errors ">
                <small class="text-danger" *ngIf="startdate.errors?.['required']">required field</small>
                <small class="text-danger"*ngIf="startdate.errors?.['pattern']">enter a valid startdate</small>
              </div>
          </div>
         

        </div>
        <div class="form-outline mb-4">
          <div class="form-outline">
          <input type="date" name="endDate" class="form-control" placeholder="EndDate "[(ngModel)]="course.endDate" 
          #enddate="ngModel"
          [class.is-invalid]="enddate.invalid"/>
          <div *ngIf="startdate.errors ">
            <small class="text-danger" *ngIf="enddate.errors?.['required']">required field</small>
            <small class="text-danger"*ngIf="enddate.errors?.['pattern']">enter a valid enddate</small>
          </div>
         </div>
        
        </div>
       

       
        <button [disabled]="registerform.form.invalid"type="submit" class="btn btn-primary btn-block mb-4">
         Register
        </button>
        </div>
      </form>
       <br>
       <br><br><br>
<span id="copyright"style="text-align:center"><b style="color: oldlace;">&reg;All rights reserved</b></span>





   

  